{
  "extends": ["airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "plugins": ["prettier"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "no-console": 0,
    "consistent-return": 0,
    "no-shadow": 0,
    "import/no-dynamic-require": 0,
    "func-names": 0,
    "object-curly-newline": 0,
    "max-len": ["error", 80],
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint"
}
